@import '../../../sass/main.module.scss';


.section-about{
  margin:0 auto;
  display:flex;
  flex-direction: column;
  font-size: 1.5rem;
  @include about-section($heading-sentence)


  // & > div {
  //   width:80%;
  //
  //   &:nth-child(even){
  //     align-self: flex-end;
  //     margin-right:7rem;
  //
  //   }
  //
  // }

}
