@import '../../../sass/main.module.scss';


  .header{
    position:relative;
    height:auto;
    background-color: transparent;
    margin-bottom: 4rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  }

  .heading-box{
    position:absolute;
    top:0;
    left:60%;
    transform:translate(0,0);

    @include about-text-box($heading-sentence)

    &__text{
      color:$color-white;
      font-weight:100;
      font-size:5rem;
      @include about-text($heading-sentence)

      // &--name{
      //   font-weight:900;
      // }

    }


  }
  .text-block{
    align-self: flex-end;
    flex:0 1 45%;
    transition:$block-transition;
    @include aboutBlock
    @include about-text-block($heading-sentence)
    @include about-hover
    &__text{
      font-weight:100;
      font-size:1.6rem;
    }

  }
  .intro{

    flex:0 1 45%;
    @include about-intro($heading-sentence)
    @include aboutBlock
    @include about-hover
    // padding-top:2rem;
    transition:$block-transition;


  }
