@import '../../../sass/main.module.scss';


  .header{
    position:relative;
    height:auto;
    background-color: transparent;
    margin-bottom: 4rem;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
  }

  .text-box{
    position:absolute;
    top:0;
    left:0;
    transform:translate(0,0);
    @include about-text-box($heading-sentence)

    &__text{
      color:$color-white;
      font-size:6rem;
      @include about-text($heading-sentence)

    }
  }

  .intro{
    flex:0 1 50%;
    @include about-intro($heading-sentence)

  }
