@import '../../../sass/main.module.scss';
  .header{
    height:95vh;
    border-radius: 10px;
    background-color: transparent;
    // background-image:
    // url(../../../assets/images/grk-b.jpg);
    // background-size:cover;
    margin-bottom: 4rem;
    &__text-box{
      & > h1{     
         color:white;
            font-size: 10rem;}

      @include center
    }
  }
