@import '../../sass/main.module.scss';

.main{
  position:absolute;
  display:block;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index:-1;
  // min-height:100vh;
  overflow-x:hidden;
}

.background{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:-999;
}
