@mixin clearfix{
  &::after{
    content: "";
    display:table;
    clear:both;
  }
}


//MEDIA QUERY MANAGER
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: normal style
1800px +: Big desktop

*/



/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

//ORDER: Base + typography > general layout + grid > page layout > components


@mixin respond($breakpoint){
  @if $breakpoint == phone{
    @media(max-width: 37.5em){ //600px
      
    }
  }
}
