@mixin clearfix{
  &::after{
    content: "";
    display:table;
    clear:both;
  }
}

@mixin center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
//Styling - About
@mixin aboutBlock{
  margin-bottom:8rem;
  background-color: #f2feff;
  padding:$homepage-block-padding;
  border-radius:5px;
}

//Animation - About
@mixin about-text($n){
  @for $i from 1 through $n{
    &:nth-child(#{$i}){
      animation:fadeIn $fade-in-time ease calc(#{$fade-in-delay-time} * #{$i}),
      shrinkFont $shrink-total-time ease calc(#{$n} * #{$shrink-delay-time-1} + #{$shrink-delay-time-2});
      animation-fill-mode:both,forwards;
    }
  }
}

@mixin about-text-box($n){
  animation:fromCenter $move-left-total-time ease calc(#{$n} * #{$move-left-delay-time-1} + #{$move-left-delay-time-2});
  animation-fill-mode:backwards;
}

@mixin about-intro($n){
  animation:moveInLeft $move-left-total-time ease calc(#{$n} * #{$move-left-delay-time-1} + #{$move-left-delay-time-2});
  animation-fill-mode:backwards;
}

@mixin about-header($n){
  animation:heightFullView $move-left-total-time ease calc(#{$n} * #{$move-left-delay-time-1} + #{$move-left-delay-time-2});
  animation-fill-mode:both;

}

@mixin about-text-block($n){
  animation:moveInRight $move-left-total-time ease calc(#{$n} * #{$move-left-delay-time-1} + #{$move-left-delay-time-2} + 500ms);
  animation-fill-mode:backwards;
}
@mixin about-section($n){
  animation:displayNone $move-left-total-time ease calc(#{$n} * #{$move-left-delay-time-1} + #{$move-left-delay-time-2});
  animation-fill-mode:backwards;
}

//Hover - About
@mixin about-hover{
  &:hover{
    // transform:scale(1.015);
    // box-shadow:2px 2px .5rem rgba($color-primary-light-2,0.5);
    // box-shadow:0 0 0 .5rem $color-primary-dark;

  }
}


//MEDIA QUERY MANAGER
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: normal style
1800px +: Big desktop

*/



/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

//ORDER: Base + typography > general layout + grid > page layout > components


@mixin respond($breakpoint){
  @if $breakpoint == phone{
    @media(max-width: 37.5em){ //600px

    }
  }
}
