
//COLOR
$color-primary: #0A2037;
$color-primary-dark:#0099ff;
$color-primary-light-1:#a6dcff;
$color-primary-light-2:#edf8ff;


$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#333;


$color-white:#fff;
$color-black:#000;

//BORDERS
$container-border-top:1rem solid rgba($color-primary-light-1,.4);

//NAVBAR
$nav-bar-height:6.5rem;

//PAGES
$pages-width-large:70%;
$pages-width-medium:50%;

$pages-padding: 4rem 3.5rem;


//FONT
$homepage-block-font:1.8rem;

//PADDING
$homepage-block-padding:3.5rem 3rem;

//ANIMATION

$animation-move-left-no-delay:moveInLeft 1200ms ease-out;
$animation-move-left-medium-delay:moveInLeft 1200ms ease-out 750ms;
$animation-move-right-no-delay:moveInRight 1200ms ease-out;
$animation-move-right-medium-delay:moveInRight 1200ms ease-out 550ms;
$animation-move-up-short-delay:moveInUp 1200ms ease-out 350ms;
$animation-move-up-medium-delay:moveInUp 1200ms ease-out 550ms;
$animation-move-down-medium-delay:moveInBottom 1200ms ease-out 550ms;
//ANIMATION - about
$heading-sentence:3;
$fade-in-time:2000ms;
$shrink-total-time:1000ms;
$fade-in-delay-time:1000ms;
$shrink-delay-time-1:$fade-in-delay-time;
$shrink-delay-time-2:$fade-in-time;
$move-left-total-time:$shrink-total-time;
$move-left-delay-time-1:$fade-in-delay-time;
$move-left-delay-time-2:$fade-in-time;

$block-transition:all 0.5s ease;

//GRID
$grid-width:114rem;
$gutter-verticle:8rem;
$gutter-horizontal:6rem;
