@import '../../sass/main.module.scss';

.home{
  display:flex;
  flex-direction:column;
  animation:$animation-move-right-medium-delay;
  animation-fill-mode: backwards;
  padding:3rem;

  & > div:not(&__title){
    margin-bottom:8rem;
    background-color: rgba($color-white,0.65);
    padding:$homepage-block-padding;
    box-shadow:0 1rem 1rem $color-grey-light-2;
    border-radius:10px;
    font-weight:100;
    font-size:$homepage-block-font;

  }

  &__title{
      margin-bottom:3rem;
      padding:0 0 1rem 2rem;
      border-bottom: 1px dotted $color-primary-light-1;


    &--heading{
      font-size: 3rem;
      line-height: 1.2;
      color:rgba($color-primary-dark,0.6);

    }
    &--span{
        font-size: 4rem;
        color:$color-primary;
        display: block;
    }
  }

  &__message{

    &--paragraph{
      margin-bottom:1rem;

    }
    &--button{
      font-size:1.5rem;
    }
  }




  &__announcement{

  }

}
