@import '../../../../sass/main.module.scss';


.intro{
  &__text{
    font-size: 2rem;
    font-weight:100;

  }

  &__link{
    font-size: 2rem;

    & span{
      display:inline-block;
    }
  }
}


.figure{
  &__my-pic{
    position:relative;
    float:left;
    -webkit-clip-path:circle(40% at 50% 50%);
    clip-path:circle(40% at 50% 50%);
    -webkit-shape-outside:circle(40% at 53% 50%);
    shape-outside:circle(40% at 53% 50%);
    transform:translateX(-2rem);
    width:20rem;
  }
}
