@import '../../sass/main.module.scss';

.Post{
  background-color: $color-white;
  text-align: left;
  width:70%;
  min-height: 10rem;
  padding:4rem;
  border-radius: 3px;


  &__container{
    border-bottom: .13rem dotted $color-primary-light-1;
  }



  &__title{

    font-family: Playfair Display;

    width:100%;
    padding: 2rem;
    padding-left:0;
    font-size:2.5rem;
    cursor:pointer;
    transition: all 0.3s;



    &:hover{
      color:$color-grey-dark-2;
      transform:translateX(.9rem);



    }
  }

  &:not(:last-child){
    margin: 0 0 3rem;

  }


}
