@import '../../sass/main.module.scss';

.pages{
  &__container{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
  padding:$pages-padding;
  transition: all 1s ease;
  background-color: $color-primary-light-2;
  min-height: 100vh;

  &::-webkit-scrollbar {
      transition:background-color 1s ease;
      width: .5em;
  }
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
  }
  &::-webkit-scrollbar-thumb {
  background-color:$color-primary-light-1;
  border-radius: 10px;


}

  }

  &__about{
    padding:4rem;
    background-image:
    linear-gradient(to right bottom,
    rgba($color-primary-light-2,0.7),
    rgba($color-primary-light-2,0.7)),
    url(../../assets/images/grk-b.jpg);
    background-size:cover;
    &::-webkit-scrollbar {
        transition:background-color 1s ease;
        width: .6em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
    background-color:rgba($color-grey-dark,0.5);
    border-radius: 10px;
    }

  }
  &--width-large{
    width:$pages-width-large;
  }

  &--width-medium{
    width:$pages-width-medium;
  }
  &--width-max{
    width:100%;
  }

  &__content{
    padding-top:2rem;
  }

}
