@import '../../../../sass/main.module.scss';

.skills-section{

  @include aboutBlock
  @include about-hover
  transition:$block-transition;
}

.skills{
  display:flex;
  flex-direction:column;



  &__title{
    font-weight:700;
    font-size:2rem;
    margin-left:$about-skill-padding;
  }

  &__container{
    &:not(:last-child){
      margin-bottom:4rem;
    }
  }

  &__list-container{
    display:flex;
    flex-direction:row ;
  }
  &__list{
    list-style:none;
    flex:0 1 50%;
  }




}
