@import '../../../../sass/main.module.scss';

.skills-section{

  @include aboutBlock
  @include about-hover
  transition:$block-transition;
}

.skills{
  display:flex;
  flex-direction:row;
  // justify-content: space-evenly;

  &__title{
    font-weight:900;
    font-size:2rem;
    margin-left:$about-skill-padding;
  }
  &__list{
    list-style:none;
    width:60%;
  }

  &__physics,
  &__webdev{
    flex:1 1;
  }

}
