@import '../../../../sass/main.module.scss';

.skills-section{

  @include aboutBlock
  @include about-hover
  transition:$block-transition;
}

.skills{
  display:flex;
  flex-direction:row;


  &__list{
    list-style:none;
    width:80%;
  }

  &__webdev{
    flex:0 1 50%;
  }

  &__physics{
    flex:0 1 50%;
  }
}
