@import '../../../sass/main.module.scss';

.post{
  display:flex;
  flex-direction:column;
  margin-top:4rem;
  align-items: center;

  &__button{
    margin-top: 4rem;
    text-align: center;
  }

}

.Loading{
  text-align: center;
}
