@import '../../../../../../sass/main.module.scss';
.item{
  list-style: none;
  font-size: 2rem;
  padding:1.5rem;
  width:90%;
  margin:0 auto;
  color:black;


  &:not(:last-child){
    border-bottom: 1px solid $color-white;
  }
}
