@import '../../sass/main.module.scss';

.side-bar{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  padding:$pages-padding;
  overflow-y:scroll;
  overflow-x:hidden;
  background-color: transparent;
  color:$color-white;
  transition:all 1s ease;

  &::-webkit-scrollbar {
      transition:background-color 1s ease;
      width: .5em;
  }
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
  }
  &::-webkit-scrollbar-thumb {
  background-color:$color-primary-dark;
  border-radius: 10px;


}

  &__content-box{
      border-top:$container-border-top;
      padding-top: 4rem;
      height:100%;

      &--about{
        border-top:none;

      }
  }

  &__about{
    background-color:rgba($color-primary,0.95);
    transition:all 0.5s ease;
    padding:0;
    z-index: 9999;

    &--not-show{
      transform:translateX(-100%);
    }
  }


  &--width-medium{
    width:calc(100% - #{$pages-width-medium});
  }
  &--width-small{
    width:calc(100% - #{$pages-width-large});
  }

  &--width-nav-bar{
    width:15%;
  }


}
