body{
  line-height: 1.5;
  font-family:"Lato",sans-serif;
}

.heading-primary{
  font-size:6rem;

  &--main{
    color:$color-primary-dark;
  }
  &--sub{
    color:$color-primary-light-1;
  }

  &--about{
    text-align: left;
    color:$color-primary-dark;
    font-size:3rem;
    border-bottom: 1px solid rgba($color-grey-dark,0.4);
    margin-bottom:2.5rem;
    font-weight:100;
    
  }
}
.heading-secondary{
  font-size:4rem;
  &--main{
    color:$color-primary-dark;
  }

  &--sub{
    color:$color-primary-light-1;
  }
}
.heading-tertiary{
  font-size:1.5rem;
}


.paragraph{
  font-size: 1.4rem;;
}
