body{
  line-height: 1.5;
}

.heading-primary{
  font-size:6rem;

  &--main{
    color:$color-primary-dark;
  }

  &--sub{
    color:$color-primary-light-1;
  }
}
.heading-secondary{
  font-size:4rem;
  &--main{
    color:$color-primary-dark;
  }

  &--sub{
    color:$color-primary-light-1;
  }
}
.heading-tertiary{
  font-size:1.5rem;
}

.paragraph{
  font-size: 1.4rem;;
}
